<!DOCTYPE html>
<html lang="de">

<head>
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="4201f56a-66a9-4e81-b252-16665dafb20b" data-blockingmode="auto" type="text/javascript"></script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - Premium kaufen</title>
  <meta content="Vulpo ist ein vielseitiger Deutscher Discord Bot, der deinen Server sehr gut verwalten kann." name="description">
  <meta content="discord, bot, discord bot, bester discord bot, deutscher discord bot, economy, levelsystem, gewinnspiele, stats, vulpo premium, premium, günstig, free, gratis" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.webp" rel="icon">
  <link href="static/assets/img/apple-touch-icon.webp" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Erfolgreich eingeloggt als {{ username }}</h1>
        <h2>Vulpo ist ein moderner Discord Bot, der dir eine einfache und effiziente Lösung zur Verwaltung deines Discord Servers bietet.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://vulpo-bot.de/invite" class="btn-get-started scrollto">Einladen</a>
          <a href="https://vulpo-bot.de/support" class="glightbox btn-watch-video"><i class="bi bi-link"></i><span>Supportserver</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="static/assets/img/hero-img.webp" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="static/index.html">Vulpo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a static/index.html class="logo me-auto"><img src="assets/img/logo.webp" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#contact">Kontakt</a></li>
          <li><a class="getstarted scrollto" href="https://vulpo-bot.de/invite">Einladen</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <section class="inner-page">
      <form>
        <div style="margin-left: 600px;">
          <input type="checkbox" id="agb-checkbox" onchange="togglePaypalButton()" required>
          <label for="agb-checkbox">Ich habe die AGB gelesen und bin damit einverstanden.</label>
        </div>
        <div style="margin-left: 600px;">
          <h3><a href="/agb">Weitere Informationen zu den AGBs</a></h3>
        </div>
      </form>
      <div id="paypal-button-container" style="display: none; margin-left: 600px; margin-right: auto;">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4PTMWDS8SH3HS">
          <input type="hidden" name="custom" value="{{ id }}">
          <table>
            <tr>
              <td><input type="hidden" name="on0" value="Vulpo Premium">Vulpo Premium</td>
            </tr>
            <tr>
              <td>
                <select name="os0">
                  <option value="1 Monat">1 Monat €5,00 EUR</option>
                  <option value="3 Monate">3 Monate €10,50 EUR</option>
                  <option value="6 Monate">6 Monate €20,00 EUR</option>
                  <option value="12 Monate">12 Monate €40,00 EUR</option>
                </select>
              </td>
            </tr>
          </table>
          <input type="hidden" name="currency_code" value="EUR">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <script>
        function togglePaypalButton() {
          var checkbox = document.getElementById("agb-checkbox");
          var paypalButton = document.getElementById("paypal-button-container");
          paypalButton.style.display = checkbox.checked ? "block" : "none";
        }
      </script>
    </section>
      
        
        
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vulpo</h3>
            <p>
              Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nützliche Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#about">Über Vulpo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#services">Funktionen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#portfolio">Galerie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/premium">Premium Informationen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/login">Mit Discord einloggen & Premium kaufen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#contact">Kontakt</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Weiterführende Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/invite">Einladen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/support">Supportserver</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/formulare">Weiterführendes</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Rechtliches</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/impressum">Impressum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/datenschutz">Datenschutz</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>