<!DOCTYPE html>
<html lang="de">

<head>
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="4201f56a-66a9-4e81-b252-16665dafb20b" data-blockingmode="auto" type="text/javascript"></script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - Hauptseite</title>
  <meta content="Vulpo ist ein vielseitiger Deutscher Discord Bot, der deinen Server sehr gut verwalten kann." name="description">
  <meta content="discord, bot, discord bot, bester discord bot, deutscher discord bot, economy, levelsystem, gewinnspiele, stats, vulpo premium, premium, günstig, free, gratis" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.webp') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.webp') }}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Beste Lösung für deinen Discord Server</h1>
        <h2>Vulpo ist ein moderner Discord Bot, der dir eine einfache und effiziente Lösung zur Verwaltung deines Discord Servers bietet.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://vulpo-bot.de/invite" class="btn-get-started scrollto">Einladen</a>
          <a href="https://vulpo-bot.de/support" class="glightbox btn-watch-video"><i class="bi bi-link"></i><span>Supportserver</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{{ url_for('static', filename='assets/img/hero-img.webp') }}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{{ url_for('static', filename='index.html') }}">Vulpo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a {{ url_for('static', filename='index.html') }} class="logo me-auto"><img src="assets/img/logo.webp" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#about">Über Vulpo</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#services">Funktionen</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#portfolio">Galerie</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Premium</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="https://vulpo-bot.de/premium">Mehr Informationen</a></li>
              <li><a href="https://vulpo-bot.de/login">Mit Discord einloggen & kaufen</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#contact">Kontakt</a></li>
          <li><a class="getstarted scrollto" href="https://vulpo-bot.de/invite">Einladen</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <section class="inner-page">
      <style>
        .paypalbutton {
          max-width: 2000px;
          margin-right:auto;
          margin-left:auto;
          display:flex;
          justify-content:center;
          align-items:center;
          min-height:100vh;
        }
      </style>
      <div class="paypalbutton">
        <form>
          <div>
            <input type="checkbox" id="agb-checkbox" required>
            <label for="agb-checkbox">Ich habe die AGB gelesen und bin damit einverstanden.</label>
          </div>
          <div>
            <h3><a href="/agb">Weitere Informationen zu den AGBs</a></h3>
          </div>
          <br>
          <div id="paypal-button-container-P-0BS684597U834425CMRH5C7Y" style="display: none;"></div>
        </form>
      </div>
      
      <script src="https://www.paypal.com/sdk/js?client-id=AdNZxDHdmW7iJebIw1XY-YuwXHhI5VN7sGeuL-GfgSekyNw93QzQnsCin5A6BjWzE_SGOog1AnH-Id1t&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
      <script>
        var checkbox = document.getElementById('agb-checkbox');
        var paypalButtonContainer = document.getElementById('paypal-button-container-P-0BS684597U834425CMRH5C7Y');
        var paypalButtonsRendered = false;
      
        checkbox.addEventListener('change', function() {
          if (checkbox.checked) {
            if (!paypalButtonsRendered) {
              paypal.Buttons({
                style: {
                  shape: 'pill',
                  color: 'gold',
                  layout: 'vertical',
                  label: 'subscribe',
                  fundingicons: 'false',
                  tagline: 'false'
                },
                createSubscription: function(data, actions) {
                  return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-0BS684597U834425CMRH5C7Y',
                    overrides: {
                      offer_type: 'NO_INTEREST'
                    }
                  });
                },
                onApprove: function(data, actions) {
                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '/paypal/gekauft');
                  xhr.setRequestHeader('Content-Type', 'application/json');
                  xhr.onload = function() {
                    if (xhr.status === 200) {
                      console.log(xhr.responseText);
                    } else {
                      console.log('Request failed.  Returned status of ' + xhr.status);
                    }
                  };
                  xhr.send(JSON.stringify({
                    'data': data,
                    'userid': "{{ response['id'] }}"
                  }));
                  alert('Dein Abonnement ist nun aktiv. Du kannst Vulpo Premium mit dem Discord Account der ID {{ response["id"] }} nutzen.');
                }
              }).render('#paypal-button-container-P-0BS684597U834425CMRH5C7Y'); // Renders the PayPal button
      
              paypalButtonsRendered = true;
            }
      
            paypalButtonContainer.style.display = 'block';
          } else {
            paypalButtonContainer.style.display = 'none';
          }
        });
      </script>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Erhalte den <strong>vollen Zugang</strong> zu Vulpo mit <strong>Vulpo Premium</strong></h4>
            <p>Exklusive Vorteile und erweiterte Funktionen für ein verbessertes Discord-Erlebnis. Erweiterte Moderation, personalisierbare Einstellungen und vieles mehr.</p>
            <h5><strong><a href="https://vulpo-bot.de/premium" class="btn-get-started scrollto">Premium entdecken</a></strong></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vulpo</h3>
            <p>
              Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nützliche Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#about">Über Vulpo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#services">Funktionen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#portfolio">Galerie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/premium">Premium Informationen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/login">Mit Discord einloggen & Premium kaufen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#contact">Kontakt</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Weiterführende Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/invite">Einladen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/support">Supportserver</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/formulare">Weiterführendes</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Rechtliches</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/impressum">Impressum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/datenschutz">Datenschutz</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>