<!DOCTYPE html>
<html lang="de">

<head>
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="4201f56a-66a9-4e81-b252-16665dafb20b" data-blockingmode="auto" type="text/javascript"></script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - Premium</title>
  <meta content="Vulpo ist ein vielseitiger Deutscher Discord Bot, der deinen Server sehr gut verwalten kann." name="description">
  <meta content="discord, bot, discord bot, bester discord bot, deutscher discord bot, economy, levelsystem, gewinnspiele, stats, vulpo premium, premium, günstig, free, gratis" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.webp" rel="icon">
  <link href="static/assets/img/apple-touch-icon.webp" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="static/index.html">Vulpo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a static/index.html class="logo me-auto"><img src="assets/img/logo.webp" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
          <li><a class="nav-link scrollto" href="https://vulpo-bot.de/#contact">Kontakt</a></li>
          <li><a class="getstarted scrollto" href="https://vulpo-bot.de/invite">Einladen</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Beste Lösung für deinen Discord Server</h1>
          <h2>Vulpo ist ein moderner Discord Bot, der dir eine einfache und effiziente Lösung zur Verwaltung deines Discord Servers bietet.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://vulpo-bot.de/invite" class="btn-get-started scrollto">Einladen</a>
            <a href="https://vulpo-bot.de/support" class="glightbox btn-watch-video"><i class="bi bi-link"></i><span>Supportserver</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="static/assets/img/hero-img.webp" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <section class="inner-page">
      <div class="container123">
        <div class="table123">
          <div class="table-header123">
            <div class="header__item123"><a id="name" class="filter__link123"> </a> </div>
            <div class="header__item123"><a id="free" class="filter__link123 filter__link--number">Kostenloser Plan</a></div>
            <div class="header__item123"><a id="premium" class="filter__link123 filter__link--number">👑</a></div>
          </div>
          <div class="table-content123">	
            <div class="table-row123">		
              <div class="table-data123">Benutzerdefinierte Befehle: !tag commandname</div>
              <div class="table-data123">3</div>
              <div class="table-data-premium123">500</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Konfigurierbare automatische Moderations-Aktionen</div>
              <div class="table-data123">3</div>
              <div class="table-data-premium123">10</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Maximale Anzahl von Schaltflächen auf einer Reaktionsrollenmeldung</div>
              <div class="table-data123">3</div>
              <div class="table-data-premium123">25</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Maximale Dropdown-Optionen in einer Reaktionsrollenmeldung</div>
              <div class="table-data123">3</div>
              <div class="table-data-premium123">25</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Temporäre Kanäle</div>
              <div class="table-data123">1</div>
              <div class="table-data-premium123">500</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Rollenbelohnungen basierend auf Level</div>
              <div class="table-data123">5</div>
              <div class="table-data-premium123">500</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Joinrollen für Mitglieder</div>
              <div class="table-data123">3</div>
              <div class="table-data-premium123">25</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Joinrollen für Bots</div>
              <div class="table-data123">1</div>
              <div class="table-data-premium123">25</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Automatische Reaktionen für Nachrichten pro Kanal</div>
              <div class="table-data123">2</div>
              <div class="table-data-premium123">10</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Blacklist</div>
              <div class="table-data123">15</div>
              <div class="table-data-premium123">500</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">XP Boost für deinen Server</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Statistik System</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Rangkarten anpassbar</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Embedfarben anpassbar</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Transkripte von gelöschten Tickets aktivieren</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Beim Kauf 100.000 Cookies erhalten, nur bis zum 14.7.2023</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
            <div class="table-row123">
              <div class="table-data123">Permanenter XP Boost von 20% auf allen Servern</div>
              <div class="table-data123-cross">X</div>
              <div class="table-data-premium123-checkmark">&#10003;</div>
            </div>
    
          </div>	
        </div>
      </div>
      <title>Unterschiede zum Premium Plan</title>
      <style>
          h1,h2,h3,h4,h5,h6 {
            margin:0;
          }
    
          .container123 {
            max-width: 2000px;
            margin-right:auto;
            margin-left:auto;
            display:flex;
            justify-content:center;
            align-items:center;
            min-height:100vh;
          }
    
          .table123 {
            width:100%;
            border:5px solid orange;
          }
    
          .table-header123 {
            display:flex;
            width:100%;
            background:#ff990193;
            padding:18px 0;
          }
    
          .table-row123 {
            display:flex;
            width:100%;
            padding:18px 0;
          }
    
          .table-data123, .header__item123 {
            flex: 1 1 20%;
            text-align:center;
            color: grey
          }
    
          .table-data123-cross, .header__item123 {
            flex: 1 1 20%;
            text-align:center;
            color: rgb(255, 0, 0)
          }
    
          .table-data-premium123, .header__item123 {
            flex: 1 1 20%;
            text-align:center;
            color: orange
          }
    
          .table-data-premium123-checkmark, .header__item123 {
            flex: 1 1 20%;
            text-align:center;
            color: rgb(21, 255, 0)
          }
    
          .header__item123 {
            text-transform:uppercase;
          }
    
          .filter__link123 {
            color:white;
            text-decoration: none;
            position:relative;
            display:inline-block;
            padding-left:24px;
            padding-right:24px;
          }
      </style>
    </section>

  </main><!-- End #main -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Preise</h2>
        <p>Hier erfährst du unsere verschiedene Preisangebote für Premium.</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Kostenloser Plan</h3>
            <h4><sup>$</sup>0<span>pro Monat</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 75% aller Funktionen</li>
              <li><i class="bx bx-check"></i> Einschränkungen</li>
              <li class="na"><i class="bx bx-x"></i> <span>Alle genannten Premium Funktionen von oben</span></li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Vulpo Premium</h3>
            <h4>5<sup>€</sup><span>für einen Monat Premium</span></h4>
            
            <h4>Neue Preise - 20% Rabatt:</h4>
            <h6><del>13<sup>€</sup></del><span><del>für drei Monate Premium (du sparst zwei Euro)</del></span></h6>
            <h4>10,50<sup>€</sup><span>für drei Monate Premium (20% Rabatt)</span></h4>

            <h6><del>25<sup>€</sup></del><span><del>für sechs Monate Premium (du sparst fünf Euro)</del></span></h6>
            <h4>20<sup>€</sup><span>für sechs Monate Premium (20% Rabatt)</span></h4>

            <h6><del>50<sup>€</sup></del><span><del>für zwölf Monate Premium (du sparst zehn Euro)</del></span></h6>
            <h4>40<sup>€</sup><span>für zwölf Monate Premium (20% Rabatt)</span></h4>

            <a href="https://vulpo-bot.de/login" class="buy-btn">Mit Discord einloggen und Premium kaufen</a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Pricing Section -->
  

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Häufig gestellte Fragen</h2>
        <p>In unserer FAQ-Sektion findest du Antworten auf die am häufigsten gestellten Fragen zu Vulpo Premium. Wir haben die wichtigsten Informationen und Lösungen für dich zusammengestellt, um dir bei der Nutzung und dem Verständnis von Vulpo zu helfen. Durchstöbere unsere FAQ, um schnell und einfach Antworten auf deine Fragen zu finden und das Beste aus deinem Vulpo-Erlebnis herauszuholen.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Was ist Vulpo Premium? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Vulpo Premium ist ein kostenpflichtiges Add-On, das zusätzliche Funktionen für den Vulpo Discord-Bot freischaltet.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Welche Vorteile bietet Vulpo Premium? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Mit Vulpo Premium erhältst du Zugriff auf erweiterte Funktionen wie benutzerdefinierte Befehle, automatische Rollenzuweisung, erweiterte Moderationsoptionen und mehr.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Wie viel kostet Vulpo Premium? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Die Preise für Vulpo Premium sind wie folgt:

                5€ für einen Monat Premium
                13€ für drei Monate Premium (du sparst zwei Euro)
                25€ für sechs Monate Premium (du sparst fünf Euro)
                50€ für zwölf Monate Premium (du sparst zehn Euro)
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Wie kann ich Vulpo Premium kaufen? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Um Vulpo Premium zu kaufen, besuche einfach unsere Webseite: https://vulpo-bot.de/login und wähle die gewünschte Dauer aus. Folge dann den Anweisungen, um den Kauf abzuschließen.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Welche Zahlungsmethoden werden akzeptiert? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Wir akzeptieren derzeit Zahlungen per PayPal.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="600">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Wann beginnt mein Vulpo Premium-Abonnement? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dein Vulpo Premium-Abonnement beginnt sofort nach dem Kauf.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="700">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Kann ich Vulpo Premium auf mehreren Servern verwenden? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
              <p>
                Ja, Vulpo Premium gilt für alle Server, auf denen der Vulpo Discord-Bot aktiviert ist.
              </p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="800">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">Wo finde ich weitere Unterstützung oder Hilfe zu Vulpo Premium?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
              <p>
                Bei Fragen oder Problemen bezüglich Vulpo Premium kannst du unseren Support(Email: kontakt@vulpo-bot.de | Discord: https://vulpo-bot.de/support) kontaktieren. Wir stehen dir gerne zur Verfügung, um dir weiterzuhelfen.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Erhalte den <strong>vollen Zugang</strong> zu Vulpo mit <strong>Vulpo Premium</strong></h4>
            <p>Exklusive Vorteile und erweiterte Funktionen für ein verbessertes Discord-Erlebnis. Erweiterte Moderation, personalisierbare Einstellungen und vieles mehr.</p>
            <h5><strong><a href="https://vulpo-bot.de/login" class="btn-get-started scrollto">Mit Discord einloggen und Premium jetzt kaufen</a></strong></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vulpo</h3>
            <p>
              Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nützliche Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#hero">Hauptseite</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#about">Über Vulpo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#services">Funktionen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#portfolio">Galerie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/premium">Premium Informationen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/login">Mit Discord einloggen & Premium kaufen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/#contact">Kontakt</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Weiterführende Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/invite">Einladen</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/support">Supportserver</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/formulare">Weiterführendes</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Rechtliches</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/impressum">Impressum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://vulpo-bot.de/datenschutz">Datenschutz</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>