<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - AGB's</title>
  <meta content="Die offizielle Webseite des Discord Bot's Vulpo." name="description">
  <meta content="discord bot, discord, info webseite" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <link rel= "icon" href= "{{ url_for('static', filename='assets/img/favicon.png') }}">
  <link rel= "apple-touch-icon" href= "{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Template Main CSS File -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/css/main.css') }}">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/favicon.png') }}" alt="">
        <h1>Vulpo<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Hauptseite</a></li>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Willkommen bei <span>Vulpo</span></h2>
          <p>Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.</p>
          <div class="d-flex justify-content-center justify-content-lg-start" data-aos-delay="200">
            <a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands" class="btn-get-started"></i><span>Einladen</span></a>
            <a href="https://discord.gg/49jD3VXksp" class="btn-get-started"></i><span>Support</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/favicon.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
  </section>
    <section class="sample-page">
      <div class="container">
        
        <h1>Allgemeine Geschäftsbedingungen (AGB) für den Online-Shop von Vulpo</h1>

        <h2>Geltungsbereich</h2>
        <h3>Diese AGB gelten für alle Bestellungen und Geschäftsbeziehungen zwischen dem Kunden und Vulpo (im Folgenden "Anbieter" genannt) im Rahmen des Online-Shops auf der Webseite https://vulpo-bot.de.
        Vertragsabschluss.</h3>
        2.1. Die Präsentation der Produkte im Online-Shop stellt kein bindendes Angebot dar, sondern eine unverbindliche Aufforderung an den Kunden, diese zu bestellen.
        2.2. Durch Abschluss des Bestellvorgangs gibt der Kunde ein verbindliches Angebot zum Kauf des ausgewählten Produkts ab. Der Anbieter bestätigt den Eingang der Bestellung per E-Mail.
        2.3. Der Kaufvertrag kommt zustande, sobald der Anbieter das Angebot des Kunden durch eine E-Mail bestätigt oder die Ware an den Kunden verschickt.
        Preise und Bezahlung
        3.1. Alle Preise im Online-Shop von Vulpo sind in Euro angegeben und enthalten die gesetzliche Mehrwertsteuer.
        3.2. Der Kunde kann die Ware auf der Webseite des Anbieters ausschließlich per PayPal bezahlen.
        3.3. Nach Abschluss des Bestellvorgangs wird der Kunde zur PayPal-Webseite weitergeleitet, wo er die Zahlung durchführen kann.
        <h2>Lieferung</h2>
        4.1. Der Anbieter versendet keine physischen Waren.
        4.2. Der Kunde kauft das Produkt "Premium" auf der Webseite des Anbieters und erhält den Zugang automatisch auf seinem Discord-Account, mit dem er sich eingeloggt hat.
        <h2>Support</h2>
        5.1. Der Anbieter bietet einen Support-Service an, der rund um die Uhr auf dem Discord-Server unter https://discord.gg/49jD3VXksp erreichbar ist oder per E-Mail unter kontakt@vulpo-bot.de.
        5.2. Bei technischen Problemen oder Fragen kann sich der Kunde jederzeit an den Support-Service wenden.
        <h2>Rückgaberecht</h2>
        6.1. Da der Anbieter keine physischen Waren versendet und nur das Produkt "Premium" anbietet, gibt es kein Rückgaberecht.
        6.2. Im Falle von Reklamationen oder technischen Problemen kann sich der Kunde an den Support-Service wenden.
        <h2>Schlussbestimmungen</h2>
        7.1. Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts.
        7.2. Sollten einzelne Bestimmungen dieser AGB unwirksam sein oder werden, so wird die Wirksamkeit der übrigen Bestimmungen hiervon nicht berührt.
        7.3. Der Anbieter behält sich das Recht vor, diese AGB jederzeit ohne Angabe von Gründen zu ändern. Die geänderten AGB gelten ab dem Zeitpunkt der Veröffentlichung auf der Webseite des Anbieters.
      </div>
    </section>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>Vulpo</span>
          </a>
          <p>Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://discord.gg/49jD3VXksp" class="twitter"><i class="bi bi-discord"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Weiterführende Links</h4>
          <ul>
            <li><a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands">Einladen</a></li>
            <li><a href="https://discord.gg/49jD3VXksp">Support Server</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Rechtliches</h4>
          <ul>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="datenschutz">Datenschutz</a></li>
            <li><a href="formulare">Weiterführendes</a></li>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>