<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - Impressum</title>
  <meta content="Die offizielle Webseite des Discord Bot's Vulpo." name="description">
  <meta content="discord bot, discord, info webseite" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <link rel= "icon" href= "{{ url_for('static', filename='assets/img/favicon.png') }}">
  <link rel= "apple-touch-icon" href= "{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Template Main CSS File -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/css/main.css') }}">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/favicon.png') }}" alt="">
        <h1>Vulpo<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Hauptseite</a></li>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Willkommen bei <span>Vulpo</span></h2>
          <p>Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.</p>
          <div class="d-flex justify-content-center justify-content-lg-start" data-aos-delay="200">
            <a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands" class="btn-get-started"></i><span>Einladen</span></a>
            <a href="https://discord.gg/49jD3VXksp" class="btn-get-started"></i><span>Support</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{{ url_for('static', filename='assets/img/favicon.png') }}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
  </section>
    <section class="sample-page">
      <div class="container">

        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Marco Lorenz<br />
        Vulpo<br />
        Wallstra&szlig;e, 35<br />
        38835 Osterwieck</p>
        
        <h2>Kontakt</h2>
        <p>Telefon: 015156127272<br />
        <script type="text/javascript">
          var user = "kontakt";
          var domain = "vulpo-bot.de";
          var link = user + "@" + domain;
          document.write("<a href='mailto:" + link + "'>" + link + "</a>");
        </script>
      
        <h2>Gewerbeanmeldung</h2>
        <p>Die Gewerbeanmeldung nach &#91;§ 14 &#93; GewO wurde am 01.05.2023 durch Stadt Osterwieck erteilt.</p>
        
        <h2>EU-Streitschlichtung</h2>
        <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
        
        <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        
        <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
      </div>
    </section>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>Vulpo</span>
          </a>
          <p>Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://discord.gg/49jD3VXksp" class="twitter"><i class="bi bi-discord"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Weiterführende Links</h4>
          <ul>
            <li><a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands">Einladen</a></li>
            <li><a href="https://discord.gg/49jD3VXksp">Support Server</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Rechtliches</h4>
          <ul>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="datenschutz">Datenschutz</a></li>
            <li><a href="formulare">Weiterführendes</a></li>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>