<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vulpo - Premium</title>
  <meta content="Die offizielle Webseite des Discord Bot's Vulpo." name="description">
  <meta content="discord bot, discord, info webseite" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <link rel= "icon" href= "{{ url_for('static', filename='assets/img/favicon.png') }}">
  <link rel= "apple-touch-icon" href= "{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Template Main CSS File -->
  <link rel= "stylesheet" href= "{{ url_for('static', filename='assets/css/main.css') }}">

  <!-- =======================================================
  * Template Name: Impact - v1.1.1
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='assets/img/favicon.png') }}" alt="">
        <h1>Vulpo <span style="font-weight: bold; color: gold;">Premium</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Hauptseite</a></li>
          <!-- <li><a href="https://vulpo-bot.de/login" class="gold-button">Einloggen und Premium kaufen</a></li> -->
        </ul>
      </nav><!-- .navbar -->
      

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Willkommen bei <span>Vulpo <span style="font-weight: bold; color: gold;">Premium</span></span></h2>
          <p>Stell dir einen Premium-Bot vor, der perfekt auf die Verwaltung deines Servers abgestimmt ist. Er bietet eine Vielzahl von nützlichen Funktionen wie ein fortschrittliches Levelsystem, spannende Gewinnspiele und vieles mehr. Dieser Bot passt sich optimal deinen individuellen Bedürfnissen an und sorgt für ein erstklassiges Erlebnis auf deinem Server.</p>
          <div class="d-flex justify-content-center justify-content-lg-start" data-aos-delay="200">
            <a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands" class="btn-get-started"></i><span>Einladen</span></a>
            <a href="https://discord.gg/49jD3VXksp" class="btn-get-started"></i><span>Support</span></a>
            <!-- <a href="https://vulpo-bot.de/login" class="btn-get-started"></i><span>Einloggen und Premium kaufen</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{{ url_for('static', filename='assets/img/favicon.png') }}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
          </div>
      </div>
    </div>
    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Erweiterte Anpassbarkeit</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-menu-button-wide"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Mehr Möglichkeiten für Moderation</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-grid"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Erweiterte Statistiken</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Bessere Unterstützung</a></h4>
            </div>
          </div>
          <!--End Icon Box -->
        </div>
      </div>
    </div>

    </div>
  </section>
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Über Vulpo <span style="font-weight: bold; color: gold;">Premium</span></h2>
          <p>Vulpo Premium ist der erweiterte und personalisierte Discord Bot für deinen Server. Mit personalisierten Farben in Embeds und einer eigenen Rangkarte mit Hintergrundbild und Farbe der Fortschritts-Leiste wird dein Server individuell gestaltet. Außerdem erhältst du einen schnelleren Support und eine besondere Rolle auf dem Supportserver. Tausche dich im Premium Chat mit anderen Premium Nutzern und Admins aus und unterstütze uns bei den Serverkosten. Mit Vulpo Premium hast du den perfekten Begleiter für deinen Discord Server.</p>
        </div>
      </div>
    </section><!-- End About Us Section -->
    <title>Unterschiede zum Premium Plan</title>
    <style>
      table {
        border-collapse: collapse;
        width: 90%;
        margin-left: 50px;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      .grey {
        color: #999;
      }
      .green {
        color: #8BC34A;
        border-left: 5px solid #FFA500;
        border-right: 5px solid #FFA500;
      }
      .red {
        color: #FF5722;
      }
      .checkmark {
        color: #8BC34A;
        border-left: 5px solid #FFA500;
        border-right: 5px solid #FFA500;
      }
      .cross {
        color: #FF5722;
      }
      .checkmark2 {
        color: #8BC34A;
        border-left: 5px solid #FFA500;
        border-right: 5px solid #FFA500;
        border-bottom: 5px solid #FFA500;
      }
      .background-premium {
        background-color: #ff8922;
      }
    </style>
  </head>
  <body>
    <div class="comparison-table">
    <h1>Unterschiede zum Premium Plan</h1>
    <table>
      <tr>
        <th> </th>
        <th>Kostenloser Plan</th>
        <div class="background-premium">
        <th>👑</th>
        </div>
      </tr>
      <tr>
        <td>Benutzerdefinierte Befehle:</td>
        <td class="grey">1</td>
        <td class="green">500</td>
      </tr>
      <tr>
        <td>Konfigurierbare automatische Moderations-Aktionen:</td>
        <td class="grey">1</td>
        <td class="green">10</td>
      </tr>
      <tr>
        <td>Maximale Anzahl von Schaltflächen auf einer Reaktionsrollenmeldung:</td>
        <td class="grey">2</td>
        <td class="green">25</td>
      </tr>
      <tr>
        <td>Maximale Dropdown-Optionen in einer Reaktionsrollenmeldung:</td>
        <td class="grey">2</td>
        <td class="green">25</td>
      </tr>
      <tr>
        <td>Transkripte von gelöschten Tickets aktivieren:</td>
        <td class="cross">X</td>
        <td class="checkmark">&#10003;</td>
      </tr>
      <tr>
        <td>Temporäre Kanäle:</td>
        <td class="grey">1</td>
        <td class="green">10</td>
      </tr>
      <tr>
        <td>Jobs im Economy Plugin:</td>
        <td class="grey">53</td>
        <td class="green">70</td>
      </tr>
      <tr>
        <td>Rollenbelohnungen basierend auf Level:</td>
        <td class="grey">2</td>
        <td class="green">30</td>
      </tr>
      <tr>
        <td>XP Boost für deinen Server:</td>
        <td class="cross">X</td>
        <td class="checkmark">&#10003;</td>
      </tr>
      <tr>
        <td>Statistik System:</td>
        <td class="cross">X</td>
        <td class="checkmark">&#10003;</td>
      </tr>
      <tr>
        <td>Embedfarben anpassbar:</td>
        <td class="cross">X</td>
        <td class="checkmark">&#10003;</td>
      </tr>
      <tr>
        <td>Rangkarten anpassbar:</td>
        <td class="cross">X</td>
        <td class="checkmark2">&#10003;</td>
      </tr>
</table>
</div>
  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="content px-xl-5">
            <h3>Häufig gestellte <strong>Fragen</strong></h3>
            <p>
              Du hast eine Frage? Dann schau hier einfach mal nach, bevor du ein Ticket öffnest.
            </p>
          </div>
        </div>

        <div class="col-lg-8">

          <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  <span class="num">1.</span>
                  Wo kaufe ich Premium?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Du findest 
                </div>
              </div>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>Vulpo</span>&nbsp;&nbsp;&nbsp;<span style="font-weight: bold; color: gold;">Premium</span>
          </a>
          <p>Stell dir einen Bot vor, der ideal deinen Server verwalten kann. Der nützliche Funktionen wie Levelsystem, Gewinnspiele und viele mehr hat. Ein Bot, der sich perfekt deinen Bedürfnissen anpasst.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://discord.gg/49jD3VXksp" class="twitter"><i class="bi bi-discord"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Weiterführende Links</h4>
          <ul>
            <li><a href="https://discord.com/oauth2/authorize?client_id=925799559576322078&permissions=8&scope=bot%20applications.commands">Einladen</a></li>
            <li><a href="https://discord.gg/49jD3VXksp">Support Server</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Rechtliches</h4>
          <ul>
            <li><a href="impressum">Impressum</a></li>
            <li><a href="datenschutz">Datenschutz</a></li>
            <li><a href="formulare">Weiterführendes</a></li>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Vulpo</span></strong>. Alle Rechte reserviert
      </div>
      <div class="credits">
        Designt von <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>